<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Pour vos déplacements, notre service de taxi à Milly la Foret est disponible 24 h/24 et 7 j/7. Profitez de nos différentes prestations avec un excellent rapport qualité-prix."
  />
  <title>
    Taxi à Milly-la-Forêt, un service de transfert de qualité | 24h/24
  </title>
  <link
    href="https://fonts.googleapis.com/css?family=Heebo:400,700|Lato:400,700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="./assets/css/style.css" />
  <link rel="icon" href="./assets/img/favicon.png" type="image/x-icon" />
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
  />
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="./assets/js/popper.min.js"></script>
  <script defer src="./assets/js/bootstrap.min.js"></script>
  <script defer src="../assets/js/fontawesome.js"></script>
  <script defer src="../assets/js/swiper.js"></script>
  <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"
  />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-212021729-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-212021729-1");
  </script>
  {% include head-seo.html %}
</head>
