<!-- <div class="slider-container">
  <div class="slider-heading">
    Expert Team of<br />
    <span class="heading-bold">Technicians</span>
  </div>
  <div class="section-text">
    When we say your vehicle’s in the best hands possible, we’re not just saying
    what you want to hear. We’re putting our money where our words are, doing
    exactly what your vehicle needs to protect you and your family. We only deal
    with the truth when it comes to our diagnostic services because you have a
    lot depending on your vehicle’s peak performance.
  </div>
</div> -->

<div class="swiper swiper-one">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide bg-one">
      <h1>
        Taxi Milly-La-Forêt, bénéficiez d’un service de taxi professionnel et
        confortable
      </h1>
      <div class="section-text">
        Déplacez-vous sans encombre, notre service de taxi propose des services
        de qualité à des tarifs abordables. Un transfert assuré par des
        professionnels de la conduite !
      </div>
    </div>
    <div class="swiper-slide bg-two">
      <h2>Une réservation facile et simple</h2>
      <div class="section-text">
        Réservez votre taxi dans la commune de Milly-la-Forêt, nous sommes
        disponibles 24 h/24 et 7 j/7. Service personnalisable, adapté aux
        particuliers et aux professionnels !
      </div>
    </div>
    <div class="swiper-slide bg-three">
      <h2>Organisation et ponctualité, n’ayez crainte, on vous transfert !</h2>
      <div class="section-text">
        Nous assurons les déplacements en voiture dans toute l’Île-de-France et
        mettons à la disposition de nos clients une large gamme de voitures.
        Ponctualité et rigueur pour un transfert en toute tranquillité !
      </div>
    </div>
  </div>
  <div class="swiper-pagination page"></div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev prev-one"></div>
  <div class="swiper-button-next next-one"></div>
</div>
